.button {
  width: 153px;
  height: 32px;
  border-radius: 5px;
  background-color: $main-color;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;

  &_main {
    margin-top: 66px;
    width: 303px;
    height: 54px;
    font-size: 16px;
  }
  &_submit {
    width: 100%;
    height: 58px;
    font-size: 16px;
  }


  @media(max-width:575px){
    width: 125px;
    height: 22px;
    font-size: 11px;
    &_main {
      margin-top: 35px;
      width: 180px;
      height: 50px;
      font-size: 12px;
    }
  }
}