.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 303px;
  input {
    height: 54px;
    border-radius: 5px;
    color: #fff;
    margin-top: 12px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    padding: 0 20px;
    color: #4B4B4B;
    &:nth-child(3) {
      margin-bottom: 17px;
    }
  }





  @media(max-width: 575px){
    align-items: center;
    width: 100%;
  }
}