.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/main.jpg) center (center/cover) no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }

  &__header {
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
  }
  &__subheader {
    margin-top: 17px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__icons {
    margin-top: 65px;
    width: 424px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 108px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-top: 18px;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }


  @media (max-width: 575px){
    min-height: 400px;
    padding: 10px 0;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
    }
    &__icons {
      display: none;
      width: auto;
    }
    &__header {
      font-size: 25px;
    }
    &__subheader {
      font-size: 13px;
      margin-top: 0px;
    }
    &__link {
      display: none;
    }
  }
  @media(max-width:991px){
    &__wrapper {
      align-items: center;
    }
  }
}